@model User
<html>
<head>

    <style>

        input[type=submit] {
            width: 50%;
            background-color: steelblue;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: dodgerblue;
            }

        div {
            border-radius: 5px;
            background-color: ghostwhite;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container shadow p-5">
        <h1 class="display-4">EDIT USER</h1>
        <form method="post" asp-action="Edit">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="UserName">User Name</label>
                    <input type="text" class="form-control mb-3" asp-for="UserName" placeholder="Enter Ypur UserName">
                    <span asp-validation-for="UserName" class=" alert-danger"></span>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="NameUser">Name User</label>
                    <input type="text" class="form-control mb-3" asp-for="NameUser" placeholder="Enter Your Name User">
                    <span asp-validation-for="NameUser" class=" alert-danger"></span>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Password">Password</label>
                    <input type="text" class="form-control mb-3" asp-for="Password" placeholder="Enter Your Password">
                    <span asp-validation-for="Password" class=" alert-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Password">Confirm Password</label>
                    <input type="text" class="form-control mb-3" asp-for="Password" placeholder="Enter Your Confirm Password">
                    <span asp-validation-for="Password" class=" alert-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Email">Email</label>
                    <input type="text" class="form-control mb-3" asp-for="Email" placeholder="Enter Your Email">
                    <span asp-validation-for="Email" class=" alert-danger"></span>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-cloud-upload"></i> Save Update </button>
                <a asp-controller="User" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List User </a>
            </div>

        </form>
    </div>
</body>
</html>
